.first-class {
  table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
  }
  td {
    border: 0px solid #dddddd;
    text-align: left;
    color: blue;
    padding: 8px;
  }
}
.p1 {
  text-align: left;
}
.p2 {
  text-align: right;
}
table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
}
td,
th {
  border: 2px solid black;
  text-align: left;
  padding: 8px;
}
th {
  text-align: center;
}
.p3 {
  background-color: white;
}
.p4 {
  background-color: yellow;
}
.p5 {
  background-color: orange;
}
